.main {
  margin: 7rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.nav {
  height: 15vh;
  background-color: rgb(255, 245, 223);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav button {
  margin: .5rem;
  line-height: 1;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.2em 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.453) 0px 3px 5px -2px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
}

.img {
  height: 10vh;
  width: 10vh;
  margin: 1rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.453) 0px 3px 5px -2px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.input {
  margin: 1em;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em 1em;
  background-color: rgb(145, 224, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  width: 500px;
}

.input input {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

.input button {
  background-color: white;
  border-radius: 1rem;
  padding: 0.1em 1em;
  box-shadow: rgba(0, 0, 0, 0.453) 0px 3px 5px -2px;
  margin-left: 100px;
}

.tasklists {
  margin: 1em;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em 1em;
  background-color: rgb(255, 147, 172);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  width: 50vw;
}